<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>DNI</th>
      <th>NOMBRE</th>
      <th>FECHA DE NACIMIENTO</th>
      <th>TELÉFONO</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
          <td>{{patient.document}}</td>
          <td>{{patient.firstName}}{{patient.lastName}}</td>
          <td>{{patient.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{patient.phone}}</td>
      <td>
        <button type="button" class="btn btn-link "><i class="far fa-copy"></i></button>
        <button  class="btn btn-link" (click)="open(content)"><i class="far fa-edit"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Lorem Ipsum</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum inventore at illum, numquam porro expedita veritatis facilis asperiores voluptatibus vero iste soluta explicabo molestiae voluptatem veniam deserunt labore nisi corporis.
  </div>

</ng-template>
