<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [ngbCollapse]="isCollapsed" class="{{isCollapsed ? 'active' : ''}}">
      <div class="sidebar-header">
        <h3>LOGO</h3>
      </div>
        <ul class="list-unstyled components">
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="isCollapsedHome = !isCollapsedHome"
                  [attr.aria-expanded]="!isCollapsedHome" aria-controls="homeSubmenu">Ejemplo 1</a>
              <ul class="list-unstyled"  [ngbCollapse]="isCollapsedHome" id="homeSubmenu"  >
                  <li>
                    <a href="#">Inicio 1</a>
                  </li>
                  <li>
                    <a href="#">Inicio 2</a>
                  </li>
                  <li>
                    <a href="#">Inicio 3</a>
                  </li>
              </ul>
            </li>
            <li>
                <a href="#">Ejemplo 2</a>
            </li>
            <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="isCollapsedPage = !isCollapsedPage"
                  [attr.aria-expanded]="!isCollapsedPage" aria-controls="pageSubmenu">Ejemplo 3</a>
              <ul class=" list-unstyled" [ngbCollapse]="isCollapsedPage" id="pageSubmenu">
                <li>
                    <a href="#">Pagina 1</a>
                </li>
                <li>
                    <a href="#">Pagina 2</a>
                </li>
                <li>
                    <a href="#">Pagina 3</a>
                </li>
              </ul>
            </li>
            <li>
                <a href="#">Ejemplo 4</a>
            </li>
            <li>
                <a href="#">Ejemplo 5</a>
            </li>
        </ul>
    </nav>

    <!-- Contenido de la Página  -->
    <div id="content">
      <nav class="navbar navbar-expand-lg sticky-top mainheader">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info d-md-none" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              <i class="fas fa-align-left"></i>
          </button>
          <div class="h2 text-left">Prueba para UX</div>
        </div>
      </nav>
      <ngb-tabset>
        <ngb-tab title="Tab 1">
          <ng-template ngbTabContent>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Título Card</h4>
                <hr>
                <div class="alert alert-success" role="alert">
                  Has tenido éxito!
                </div>
                <h6 class="mt-6 d-block">Buscar Personas</h6>
                <hr>
                <div class="jumbotron">
                  <form id="form1">
                    <div class="row">
                      <div class="col-s-12 col-md-3">
                        <div class="form-group">
                          <label class="control-label" for="documento">Nº de Documento</label>
                          <input type="text" class="form-control" id="documento">
                        </div>
                      </div>
                      <div class="col-s-12 col-md-3">
                        <div class="form-group">
                          <label class="control-label" for="nombre">Nombre</label>
                          <input type="text" class="form-control" id="nombre">
                        </div>
                      </div>
                      <div class="col-s-12 col-md-3">
                        <div class="form-group">
                          <label class="control-label" for="apellido">Apellido</label>
                          <input type="text" class="form-control" id="apellido">
                        </div>
                      </div>
                      <div class="col-s-12 col-md-3">
                        <div class="form-group">
                          <label class="control-label" for="hc">Fecha de Nacimiento</label>
                          <input type="text" class="form-control" id="fecha">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-md-4">
                        <label>Input group button</label>
                        <div class="input-group">
                          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <button type="button" class="btn btn-primary" ngbDropdownToggle>Celular</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                              <button class="dropdown-item">Telefono</button>
                              <button class="dropdown-item">Fax</button>
                              <button class="dropdown-item">Personalizado</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-4 search">
                        <div class="input-group">
                        <div class="btn-group searc" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-outline-primary">BOTON 1</button>
                          <button type="button" class="btn btn-outline-primary">BOTON 2</button>
                        </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 search">
                        <button type="submit" class="btn btn-primary float-right">BUSCAR</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="table-responsive">
                  <app-table></app-table>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Tab 2">
          <ng-template ngbTabContent>
            <div class="card">
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At natus aliquam ullam quaerat autem dolor vero eum, alias cupiditate est quos necessitatibus assumenda qui. Illum, fugiat, eius? Officia, dolorum, cupiditate?</p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Tab 3">
          <ng-template ngbTabContent>
            <div class="card">
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero quidem velit totam temporibus sed eos, doloremque magni id nostrum quod ea dolore explicabo, necessitatibus hic tempore sequi perspiciatis. Cupiditate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. At natus aliquam ullam quaerat autem dolor vero eum, alias cupiditate est quos necessitatibus assumenda qui. Illum, fugiat, eius? Officia, dolorum, cupiditate?</p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Tab 4">
          <ng-template ngbTabContent>
            <div class="card">
              <div class="card-body">

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate quos adipisci nam dignissimos vero, omnis dolores sapiente eius. Ut in amet odit sed rem excepturi unde maiores sunt voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero quidem velit totam temporibus sed eos, doloremque magni id nostrum quod ea dolore explicabo, necessitatibus hic tempore sequi perspiciatis. Cupiditate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. At natus aliquam ullam quaerat autem dolor vero eum, alias cupiditate est quos necessitatibus assumenda qui. Illum, fugiat, eius? Officia, dolorum, cupiditate?</p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
